//
//
// /* Resets */
//
// .dropdown-content {
//   display: none;
// }
// /*
//  *	Accessible Multi-Level Dropdown Navigation Menu
//  *	Created by Ire Aderinokun
//  *
//  */
//
// ul > ul.dropdown-content, ul > ul.dropdown-content ul {
//
//   background: white;
//  li {
//    width: 100%;
//  }
// }
//
//
// .dropdown-content li a {
//   padding: 1rem !important;
// }
//
// #menu-main {
//   position: relative;
//   max-width: 100%;
//   color: #222;
//   margin-bottom: -3px;
// }
//
// #nav li {
//    }
//
// #nav a {
//   text-decoration: none;
//   height: 100%;
//   display: block;
//   padding: 0 1em; }
//
//
// .plusMark {
//   margin-left: .5em;
//   font-size: 1em;
//   font-weight: 700; }
//
//
//
// /* Any sub menu */
//
//   a + ul {
//     position: absolute; }
//     a + ul:not(.js-showElement) {
//       display: none; }
//
// .dropdown-content a {
//   line-height: 1.25;
// }
// /* The Main Navigation Bar - Navigation Level One */
//
//
// #nav > ul > li > a {
//   background-color: white; }
//   #nav > ul > li > a:hover, #nav > ul > li > a:focus, #nav > ul > li > a.js-openSubMenu {
//     background-color: whitesmoke; }
//
// #nav > ul > li:hover > a, #nav > ul > li:focus > a {
//   background-color: whitesmoke; }
//
// @media screen and (min-width: 40em) {
//   #nav > ul > li:not(:last-child) {
//
//     border-bottom: none; } }
//
//
// #nav > ul > li:not(#toggleMenu):not(.js-showElement) {
//   /* first level nav li except toggleMenu icon */ }
//
//     #nav > ul > li:not(#toggleMenu):not(.js-showElement) {
//       display: inline-block; }
//
//
//   #nav #toggleMenu {
//     display: none; }
// span#toggleMenu-text {
//   position: absolute;
//   opacity: 0; }
//
// /* Javascript classes */
// #nav .js-hideElement {
//   display: none; }
//
// #nav .js-showElement {
//   display: block; }
//
// /* Fallback for users without javascript */
// html.no-js li:hover > a + ul, html.no-js li:focus > a + ul {
//   display: block; }
// @media screen and (max-width: 40em) {
//   html.no-js #nav:hover > ul > li:not(#toggleMenu), html.no-js #nav:focus > ul > li:not(#toggleMenu) {
//     display: block; }
//   html.no-js #nav:hover li:hover > a + ul, html.no-js #nav:hover li:focus > a + ul, html.no-js #nav:focus li:hover > a + ul, html.no-js #nav:focus li:focus > a + ul {
//     display: block; } }
//
// #nav > ul > li#toggleMenu > a { background-color: whitesmoke; color: #666; }
// #nav > ul > li#toggleMenu > a:focus { background-color: darken(whitesmoke,20%); }
//
// // nav {
// //   position: relative;
// // }
// //
// // ul {
// //   padding: 0;
// // }
//
// nav > ul {
//   color: red;
//   margin: 0rem;
//   padding: 0;
//   display: flex;
//   width: 100%;
// }
//
// nav > ul > li {
//   width: 100%;
// }
//
// ul.dropdown-content.js-showElement li {
// }
//
// ul ul.dropdown-content.js-showElement {
//
//   display: flex;
//
//
//   li {
//
//   }
// }
//
// ul ul ul.dropdown-content.js-showElement {
//
//   background: pink;
//   color: whitesmoke;
//   position: absolute;
//   display: flex;
//   width: 100%;
//
//   li {
//
//   }
// }
//
// ul ul ul ul.dropdown-content.js-showElement {
//
//   background: red;
//   color: whitesmoke;
//   position: absolute;
//   left: 0;
//   width: 100%;
//   li {
//
//   }
// }
//
// // nav > ul .dropdown > ul {
// //   display: flex;
// //   position: absolute;
// //   left: 0;
// //   }
//
//
// nav > ul .dropdown > ul > li {
//     background: whitesmoke;
//
//     color: teal;
//     width: 100%;
//   }
//
//
//
// .menu-item-has-children {
//   position: relative;
// }
//
// ul ul .menu-item-has-children {
//   position: relative;
//   ul ul {
//     left: 0%;
//     top: 100%;
//   border-bottom: 1px solid #666;
//   }
//   ul {
//     left: 100%;
//     top: 0%;
//     border-bottom: 1px solid #666;
//   }
// }
//
// li {
//   padding: .5rem;
// }
//
// // ul ul .menu-item-has-children {
// //   padding: 1rem .5rem;
// //   position: relative;
// //
// //   width: 100%;
// //   ul {
// //     left: 0%;
// //     top: 100%;
// //   }
// // }
//
// li {
//   padding: .5rem;
// }

nav > ul#menu-main {
  margin: 0rem;
  padding: 0;
  display: flex;
  text-align: center;
  li a:hover {
    background: whitesmoke;
  }
}

nav > ul > li {
  flex-grow: 1;
}

.dropdown li {
  display: flex;
  flex-direction: column;
  line-height: 1;
  width: 100%;
  padding-top: .5rem;
}


#menu-main li a {
  text-decoration: none;
  &:hover {
    background: whitesmoke;

  }
}

#menu-main > .menu-item-has-children {
  position: relative;
}

.dropdown-button + .dropdown-content {
  //border: 1px solid #777;
  padding: 1rem;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid whitesmoke;
  margin-top: .5rem;
  background: white;
 opacity: 0;
 position: absolute;
 width: 200%;
 text-align: left;
 transform: translateX(-200%);
}

#menu-main ul ul ul {
  font-weight: 300;
  padding-left: 1rem;
  width: calc(100% - 1rem) !important;
}

#menu-main ul ul {
  font-weight: 300;
  padding-left: 1rem;
}

.dropdown-content li a:hover {
  background: white !important;
}

.dropdown-button.js-open + .dropdown-content, .dropdown-button:focus + .dropdown-content {

}

.dropdown-button.js-open {
  //background: whitesmoke;
}


.dropdown-button.js-open > i {
  transform: rotate(90deg);
}

.dropdown-button.js-open + .dropdown-content, .drpdown-button:hover + .dropdown-content  {
   opacity: 1;
   transform: translateX(0);
}
